/* Desktop First */

body {
    background-color: #d6eff0;
    color: #333;
    font-family: 'Inter', sans-serif; 
    margin-left: 0;
    margin-right: 0;
     
}

#Navigation {
    background-color: #00707e;
    position: sticky;
    z-index: 1000;
    top: 0;
    padding: 0.5rem;
    opacity: 0.9;   
}

#Navigation ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    font-size: 1.125rem;
    }

h1 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color: #22302cd0;
    font-size: 2.125rem;
    font-family: Cambria, Georgia, Times, 'Times New Roman';
    margin-top: 1rem;
}

h2 {
    font-size: 1.75rem;
    font-family: Cambria, Georgia, Times, 'Times New Roman';
}

h4 {
    font-size: 1.125rem;
    font-family: Cambria, Georgia, Times, 'Times New Roman';
}

section {
   margin: 1rem;
   padding: 1rem; 
}

.exp {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 90%;         
}

.exp li{
   
    background-color: #eaf1f5;
    padding: 1rem 1.25rem;
    margin-bottom: 0.75rem;
    /*margin-left: 5px;*/
    border-radius: 0.5rem;
    font-weight: 500;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
             
}

.exp-header {
    display: flex;
    justify-content: space-between;
}

.exp li p {
    font-size: 0.95rem ;
}

.social {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.social li {
    list-style: none;
    padding-right: 2rem;
    margin: 0.625rem 1.875rem;
}

.social li a {
    color: #333;
    font-size: 2rem;
    transition: color 0.3s ease;
}

.social li a:hover {
    color: #0077b5;;   
}

a {
    color: #2C3E50;
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    color: #66c0ae;
    text-decoration: underline;
}

a:visited {
    color: #360b9b;
    text-decoration: none;
}

/* Tablet Style */

@media (max-width: 1024px) {
    h1 {
        font-size: 1.75rem;
        font-style: italic;
    }

    h2, h4 {
        font-size: 1.5rem;
        color: #005f6a;
    }

    ul {
        padding: 0.625rem;
        background-color: #f0f8fa;
    }

    .social li {
        padding-right: 1.25rem;
        margin: 0.5rem 1rem;
    }

}


/* Mobile Styles */

@media (max-width: 768px) {
    h1 {
        font-size: 1.375rem;
        font-weight: 400;
    }

    h2, h4 {
        font-size: 1.25rem;
        color: #333;
    }

    .exp li {
        padding: 0.625rem;
        font-size: 0.9rem;;
    }

    ul {
        margin: 0;
        padding: 0;
        background-color: #ffffff;
    }

    .social {
        flex-direction: column;
        align-items: center;
    }

    .social li a {
        font-size: 1.5rem;
    }
    
}
    